@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* //////////////////////////// */

@layer components {
  .header {
    font-size: 2rem;
  }
  input {
    transition: background-color 0.3s ease-in-out;
    @apply p-[4px] ps-3 pe-3 rounded-md border-gray-300 w-full mb-3  hover:bg-gray-200;
  }
  .submit-btn {
    transition: background-color 0.3s ease-in-out;
    @apply mt-3 p-2 border border-gray-400 rounded-md w-40 hover:bg-slate-400 cursor-pointer;
  }
}

/* //////////////////////////// */
